*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../FrontEnd/Images/AboutBackground.PNG');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Review code*/
.SecondBody {
    background: transparent;
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
}
.container {
    width: 400px;
    background: #ffff;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}
.container .post {
    display: none;
}
.container .text {
    font-size: 25px;
    color: #666;
    font-weight: 500;
}
.container .edit {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer
}
.container .edit:hover {
    text-decoration: underline;
}
.container .star-widget input{
    display: none;
}
.star-widget label {
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}
input:checked ~ label{
    color: #fd4;
}
input#rate-5:checked ~ label{
    color: ;
    text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
    content: "Very Bad Experience"
}
#rate-2:checked ~ form header:before{
    content: "Below Average Experience"
}
#rate-3:checked ~ form header:before{
    content: "Average Experience"
}
#rate-4:checked ~ form header:before{
    content: "Above Average Experience"
}
#rate-5:checked ~ form header:before{
    content: "Excellent Experience"
}
.container form {
    display:none;
}
input:checked ~ form {
    display: block;
}
form header {
    width: 100%;
    font-size: 25px;
    color: rgb(78, 86, 120);
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}
form header:before {
}

form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}
form .textarea textarea{
    height: 100px;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
}
form .btn {
    height: 45px;
    width: 100%;
    margin: 15px 0;
}
form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}
form .btn button:hover{
    button: #1b1b1b;
}
/*Header Code*/
a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
a:active {
    text-decoration: none;
}
  
a {
    color: white;
}
nav1 {
    display: flex;
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 auto 0 auto;
    top: 0px;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(255, 255, 255);
  }
  .Web-link {
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  .Web-link li {
    list-style: none;
  }
  .heading {
    color: rgba(32, 34, 43, 1);
    text-transform: capitalize;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: sans-serif;
  }
  .Web-link a {
    color: rgb(78, 86, 120);
    text-align: none;
    letter-spacing: 3px;
    font-size: 14px;
    padding: 14px, 16px;
    font-family: sans-serif;
  }
  .Web-link li a:hover:not(.active) {
    /*background-color: rgb(88, 96, 132);*/
    text-decoration: underline;
  }