*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('Images/AboutBackground.PNG');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
}
.FourthBody {
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
}
/*Comment sections css */
.SecondBody {
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
}
Comment_Containter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.Commentbox{
    width:300px;
    padding: 20px;
    margin: 15px;
    border: thick double rgb(78, 86, 120);
    cursor: pointer;
    position: absolute;
    top: 500px;
    right: 0px;
}

.profile{
    display: flex;
    align-items: center;
}
Username{
    display: flex;
    flex-direction: column;
}
.username h1{
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0.5px;

}
.StarRanking {
    color: #f9d71c;
}
.BoxHeadings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 10px;
    color: #4b4b4b;
    color: #ffffff;
}

/*Review code*/
.ThirdBody {
    background: transparent;
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

/*Header Code*/
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a {
    color: white;
}
nav1 {
    display: flex;
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 auto 0 auto;
    top: 0px;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(255, 255, 255);
}
.Web-link {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.Web-link li {
    list-style: none;
}
.heading {
    color: rgba(32, 34, 43, 1);
    text-transform: capitalize;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: sans-serif;
}
.Web-link a {
    color: rgb(78, 86, 120);
    text-align: none;
    letter-spacing: 3px;
    font-size: 14px;
    padding: 14px, 16px;
    font-family: sans-serif;
}
.Web-link li a:hover:not(.active) {
    /*background-color: rgb(88, 96, 132);*/
    text-decoration: underline;
}
/*Filter table code */
.TableWrapper {
    overflow-x : hidden;
}
#myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    overflow-y:scroll;
    height:70%;
    display:block;
    background: #ffff;
    border-collapse: collapse; /* Collapse borders */
    width: 60%; /* Full-width */
    border: 1px solid rgb(78, 86, 120);
    font-size: 18px; /* Increase font-size */
    position: absolute;
    top: 175px;
    left: 30px;
}

input[type=text] {
    border-radius: 4px;
    position: absolute;
    top: 100px;
    left: 30px;
}
#myTable tr {
    width: 60%;

}
#myTable th, #myTable td, #myTable thead, #myTable tbody  {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
    width: 60%;

}
#myTable thead.header {
    background: white;
}
#myTable tbody {
    /* Add a grey background color to the table header and on hover */
    background: background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
;
}
.wrap {
    overflow: hidden;
}

/*Information display-Tried to get width to
not go behind other components but failed
.InformationDisplayWrapper {
    width: 100%;
}
*/
/*Information display*/
.InformationDisplay {
    height: 100%;
    width: 400px;
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);;
    border: 5px solid white;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*Course title*/
.InformationDisplay h2 {
    text-align: left;
    margin-top: 70px;
    margin-left: 5px;
    font-size: 30px;
    font-weight: bold;
    /*color: #ffffff;*/
    position: relative;
    color: white;
    margin-bottom:20px;
}
h2:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
}
.InformationDisplay h3 {
    text-align: left;
    font-size: 12px;
    font-weight: none;
    color: rgb(0,255,255, 0.5);;
    margin-left: 5px;
}
.InformationDisplay h4 {
    text-align: left;
    font-size: 14px;
    font-weight: none;
    color: #EACAFF;
    margin-left: 5px;
}
.InformationDisplay h5 {
    text-align: left;
    margin-left: 5px;
    font-size: 14px;
    font-weight: none;
    color: #F4E3FF;
}
.InformationDisplay h6 {
    text-align: left;
    margin-top: 30px;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}