/* This file will hold the stlying for the webpage holding DubSpot
   It will contain the different elements and their attributes */
.rectangle {
   width:200px;
   height:200px;
   background:rgb(91, 39, 187);
}
