*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
    margin: 0px;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-image: url('Images/Background.PNG');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /*New code*/
.container {
  background: transparent;
  border: 10px rgb(255, 255, 255);
  width: 450px;
  height: 460px;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: -150px;
}
img {
  height: 400px;
  width: 300px;
  margin-left: 900px;
  margin-top: -400px;
  border: 5px solid rgb(255, 255, 255);
}
.rightbox {
  width: 60%;
  margin-left: 27%;
}
.tabshow {
  transition: all .5s ease-in-out;
  width: 80%;
}
h3 {
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1px #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 40px;
  font-family: sans-serif;
}
h2 {
  color:rgb(255, 255, 255);
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input {
  border: 0px;
  background: transparent;
  border-bottom: 2px solid rgb(63, 87, 116);
  width: 80%;
  font-size: 15px;
  color:rgb(101, 138, 184);
  outline: none;
}
input[type="checkbox"] + label{
  text-decoration: dashed;
  color: white;
  font-size: 10px;
}
textarea {
  resize: none;
}
/*
.btn {
  text-transform: capitalize;
  font-size: 15px;
  border: 2px white;
  color:rgb(255, 255, 255);
  padding: 7px, 15px;
  background: rgba(32, 34, 43, 1);
  margin-top: 11px;
  width: 90px;
  height: 40px;

}*/


/*Header code*/
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
  
  a {
    color: white;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(255, 255, 255);
  }
  .Web-link {
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  .Web-link li {
    list-style: none;
  }
  .heading {
    color: rgba(32, 34, 43, 1);
    text-transform: capitalize;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: sans-serif;
  }
  .Web-link a {
    color: rgb(78, 86, 120);
    text-align: none;
    letter-spacing: 3px;
    font-size: 14px;
    padding: 14px, 16px;
    font-family: sans-serif;
  }
  .Web-link li a:hover:not(.active) {
    /*background-color: rgb(88, 96, 132);*/
    text-decoration: underline;
  }